<div class="task-form-container">

  <h1>Apunta tus tareas para no perderlas de vista</h1>

  <form class="task-form" [formGroup]="tareaForm" (submit)="getValues($event)" (keypress)="enableFormSubmit()">
    <div class="input-container">
      <mat-form-field class="form-field">
        <mat-label>Nombre de la tarea</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field class="form-field">
        <mat-label>Descripción de la tarea</mat-label>
        <input matInput formControlName="descripcion">
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field class="form-field">
        <mat-label>Fecha límite de la tarea</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="button-container">
      <button mat-raised-button [disabled]="formDisabled">Apuntar tarea</button>
    </div>
  </form>
</div>

