
.task-form-container {
  background-color: rgba(255, 222, 210, 0.904);
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.task-form-container h1 {
  text-align: center;
  color: rgb(89, 89, 89);
  font-weight: 500;
}

.input-container {
  width: 100%;
}

.task-form-container .form-field{
  width: 100%;
}

.button-container {
  width: 100%;
}

.button-container button {
  width: 100%;
  color: rgb(89, 89, 89);
}
